.main-body {
  background-color: whitesmoke;
}

.content-body {
  width: 60vw;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  margin: auto;
}

.icon-space {
  color: green;
  width: 100%;
  text-align: center;
}

.input-group-text {
  width: 100%; /* Ensures the text spans the full width of its container */
  text-align: center; /* Centers the text or icon within the input-group-text */
}
.form-control {
  flex: 1; /* Makes sure the input field takes the remaining space */
}
.input-group {
  display: flex; /* Aligns the text and input field horizontally */
}