#root {
  margin: 0;
  padding: 0;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: logo-spin infinite 2s linear;
}
@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo:nth-of-type(1) .logo {
    /* animation: logo-spin infinite 20s linear; */
  }
}
